<?xml version="1.0"?>
<robot name="ultra_sonic_sensor" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Microsoft Kinect for simulation -->
    <xacro:macro name="ultra_sonic_sensor_sim">
        <gazebo>
            <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
                <render_engine>ogre2</render_engine>
            </plugin>
        </gazebo>
        <gazebo reference='base_link'>
            <sensor name='ultrasonic_ping_1' type='gpu_lidar'>" <always_on>1</always_on>
                <update_rate>
                5</update_rate>
                <visualize>1</visualize>
                <topic>ultrasonic_1</topic>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>1</samples>
                            <resolution>1</resolution>
                            <min_angle>0</min_angle>
                            <max_angle>0</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.08</min>
                        <max>4</max>
                        <resolution>0.02</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.1</mean>
                        <stddev>0.005</stddev>
                    </noise>
                </ray>
            </sensor>
            <sensor name='ultrasonic_ping_2' type='gpu_lidar'>" <always_on>1</always_on>
                <update_rate>
                5</update_rate>
                <visualize>1</visualize>
                <topic>ultrasonic_1</topic>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>1</samples>
                            <resolution>1</resolution>
                            <min_angle>0</min_angle>
                            <max_angle>0</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.08</min>
                        <max>4</max>
                        <resolution>0.02</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.1</mean>
                        <stddev>0.005</stddev>
                    </noise>
                </ray>
            </sensor>
        </gazebo>
        <joint name="ping_1" type="fixed">
            <origin xyz="1 0 0" rpy="0 0 0" />
            <parent link="ultrasonic_ping_1" />
            <child sensor="ultra_1" />
        </joint>

        <joint name="ping_2" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="ultrasonic_ping_2" />
            <child sensor="ultra_2" />
        </joint>

        <link name="ultra_1">
            <xacro:inertial_cuboid mass="0.1" x="0.05" y="0.05" z="0.05" />
            <visual>
                <origin xyz="1 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.05 0.05 0.05" />
                </geometry>
                <material name="material_darkgray" />
            </visual>
            <collision>
                <origin xyz="1 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.05 0.05 0.05" />
                </geometry>
            </collision>
        </link>

        <link name="ultra_2">
            <xacro:inertial_cuboid mass="0.1" x="0.05" y="0.05" z="0.05" />
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.05 0.05 0.05" />
                </geometry>
                <material name="material_darkgray" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.05 0.05 0.05" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>
